.overall {
  &-sum {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 0.5rem;
    &__wrapper {
      height: 100%;
      background-color: var(--color-3);
      margin-right: 0.5rem;
      & > p {
        font-size: 2rem;
        font-weight: 600;
        padding-left: 1rem;
        position: absolute;
        text-decoration: underline;
      }
    }
    &__chart {
      height: 100%;
      #overall-sumchart {
        height: 100%;
      }
    }
  }
  &-data {
    height: 100%;
    position: relative;
    &__total {
      height: 30%;
      background-color: var(--color-2);
      & > p {
        position: absolute;
        font-size: 1.5rem;
        font-weight: 600;
        padding-left: 1rem;
        text-decoration: underline;
      }
      &__table {
        padding-top: 1.8rem;
      }
      table {
        font-size: 1.5rem;
        margin: 0 auto;
        tr {
          border-bottom: 1px solid var(--font-color-1);
          &:last-child {
            font-weight: 600;
            & td:last-child {
              background-color: rgb(255, 255, 181);
            }
          }
          & td:last-child {
            width: 100px;
            text-align: center;
          }
        }
        td {
          padding: 0.2rem 1rem;
        }
      }
    }
    &__sub {
      height: 70%;
      padding-bottom: 0.5rem;
      &__wrapper {
        height: 100%;
        padding-top: 0.5rem;
        & > p {
          position: absolute;
          font-size: 1.5rem;
          font-weight: 600;
          padding-left: 1rem;
          text-decoration: underline;
        }
      }
      &__category {
        height: 100%;
        display: grid;
        padding-top: 38px;
        grid-template-columns: 1fr 1fr;
        background-color: var(--color-4);
        padding-bottom: 0.5rem;
      }
    }
  }
}
