body {
  --color-1: #cdbba7;
  --color-2: #dad0c2;
  --color-3: #f4dfd0;
  --color-4: #fdefef;

  // font color
  --font-color-1: #555555;
  --font-color-2: #8a8a8a;
  --font-color-3: #BBBBBB;
  --font-color-4: #DDDDDD;

  // status color
  --status-ok: #C3FF99;
  --status-ng: #FFC4C4;
}
