.fmoe {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;
  &__selector {
    width: fit-content;
    display: flex;
    margin-left: auto;
    gap: 1rem;
    .ant-select {
      font-size: 1.5rem;
      width: 300px;
      &-selector {
        display: block;
        height: fit-content !important;
      }
    }
    .ant-picker {
      padding: 0 11px;
      * {
        font-size: 1.5rem;
      }
    }
    &-dropdown {
      .ant-select-item {
        &-option-content {
          line-height: normal;
          font-size: 2rem;
        }
      }
    }
  }
  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    height: 100%;
  }
  &__amount {
    height: 100%;
    &__overall {
      height: 60%;
      display: flex;
      &__sum {
        height: 100%;
        width: 60%;
      }
      &__data {
        height: 100%;
        width: 40%;
      }
    }
    &__history {
      height: 40%;
    }
  }
  &__indicator {
    height: 100%;
    &__line {
      height: 60%;
      padding-bottom: 0.5rem;
    }
    &__chart {
      height: 40%;
    }
  }
}
