.lqc {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;
  &__selector {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    .ant-select {
      font-size: 1.5rem;
      width: 300px;
      &-selector {
        display: block;
        height: fit-content !important;
      }
    }
    &-dropdown {
      .ant-select-item {
        &-option-content {
          line-height: normal;
          font-size: 2rem;
        }
      }
    }
  }
  &__main {
    height: 100%;
    display: flex;
    gap: 0.5rem;
  }
  &__total {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__overall {
      width: 100%;
      height: 50%;
      display: flex;
      gap: 0.5rem;
      &__chart {
        width: 100%;
        height: 100%;
        background-color: var(--color-3);
      }
    }
    &__history {
      width: 100%;
      height: 50%;
      background-color: var(--color-3);
    }
  }
  &__abnormal {
    height: 100%;
    width: 50%;
    background-color: var(--color-4);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
