.lotqc-item {
  &-data {
    height: 100%;
    &__wrapper {
      height: 100%;
      & > p {
        font-size: 2rem;
        font-weight: 600;
        padding-left: 1rem;
        text-decoration: underline;
      }
    }
    &__chart {
      &__wrapper {
      }
    }
  }
}
